img {


    height: 400px;
    width: 400px;
    box-shadow: 10px black;
    margin: 5em 47em 0 47em;


}

h2 {
    text-align: center;
    font-size: 2em;
    font-family: 'Courier New', Courie
}

p {
    text-align: center;
}