header{
    color: #63be6a;
    font-size: 20px;
    background-color: #efefef;
    padding: 20px;   
}
.lgsect{
    position: fixed;
    top:40%;
    left: 10%;
    width: 350px;
}
#lgsao{
    position:absolute;
    top: 45%;
    left: 72%;
    width: 350px;
}
.boto{
    position: fixed;
    top: 5%;
    left: 70%;
    font-size: 25px;
    padding: 20px;

}
.Buton{
    border-radius: 10px;
    border-color: #63be6a;
    padding: 20px;
    background-color: #1b1b24;
    font-size: 25px;
    color: #63be6a;
    pointer-events: visiblePainted;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#1b1b24;
    margin: 0;
}
.box{
    position: fixed;
    top: 55%;
    left:50%;
    transform:translate(-50%,-50%) ;
    background-color:rgba(0, 0, 0, 0.8) ;
    padding: 15px;
    border-radius: 15px;
    height: 55% ;
    width: 30%;
}
fieldset{
    border: 5px solid;
    color: #63be6a;
    height: 495px;
}
.Inputbox{
        position: relative;
}
.Input{
   background: none;
   border: none;
   border-bottom:1px solid white;
   outline: none;
   color: rgb(243, 243, 243);
   font-size: 15px;
   width: 100%;

}
.rodape{
    position: absolute;
    top: 90%;
    background-color: aliceblue;
    padding: 50px 100% 50px 50px ;
}
.Submit{
    color:rgb(0, 255, 0) ;
    border-color: #63be6a ;
    border-radius: 30px;
    background-color: rgb(0, 0, 0);
    width: 150px;
    height: 30px;
}

